<!-- Barra de ferramentas -->
<mat-toolbar color="primary">
  <button class="menu" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon> menu </mat-icon>
  </button>
  <span>Folha de pagamento</span>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/pages/funcionario/listar">
        <div class="item">
          <mat-icon class="icon"> list </mat-icon>
          <span> Listar Funcionários </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/funcionario/cadastrar">
        <div class="item">
          <mat-icon class="icon"> add </mat-icon>
          <span> Cadastrar Funcionário </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/folha/listar">
        <div class="item">
          <mat-icon class="icon"> list </mat-icon>
          <span> Listar Folhas </span>
        </div>
      </a>
      <a mat-list-item routerLink="/pages/folha/cadastrar">
        <div class="item">
          <mat-icon class="icon"> add </mat-icon>
          <span> Cadastrar Folha </span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Conteúdo ocupando a tela inteira -->
  <mat-sidenav-content style="height: 100vh; width: 100vw; display: flex; flex-direction: column;">
    <router-outlet flex> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
