<!-- Seu template HTML -->
<table>
  <tr>
    <th>#</th>
    <th>Nome</th>
    <th>CPF</th>
    <th></th> <!-- Nova coluna para o botão de deletar -->
  </tr>
  <tr *ngFor="let funcionario of funcionarios">
    <td>{{ funcionario.id }}</td>
    <td>{{ funcionario.nome }}</td>
    <td>{{ funcionario.cpf }}</td>
    <td>
      <button mat-icon-button color="warn" (click)="deletar(funcionario.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td>
      <a mat-raised-button color="primary" routerLink="/pages/alterar/alterar/{{funcionario.id}}">
        <mat-icon>edit</mat-icon>
        Editar funcionário
      </a>
    </td>
  </tr>
</table>
